*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Seminar3_1099/app/dam1099seminar4/build/
Exemplu/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-eu/values-eu.xml
Exemplu/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-eu/values-eu.xml
Seminar1_1099/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sw/values-sw.xml