Seminar3_1099/app/dam1099seminar4/build/intermediates/packaged_res/debug/packageDebugResources/values/values.xml
Seminar3_1099\app\dam1099seminar4\build\generated\res\processDebugGoogleServices\values\values.xml
Seminar3_1099\app\dam1099seminar4\build\generated\res\processDebugGoogleServices\values\values.xml
Exemplu/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-eu/values-eu.xml
Seminar1_1099/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sw/values-sw.xml
