# Default ignored files
# Ignore Android Studio local configuration
*.iml
.cxx
.DS_Store
.externalNativeBuild
.gradle
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
/shelf/
/workspace.xml
local.properties
tall git-filter-repo
Seminar3_1099/app/dam1099seminar4/build/
